body {
  background-color: #000;
  color: #fff;
}

a, .text-accent {
  color: #8B0000;
}

.btn-accent {
  background-color: #8B0000;
  color: white;
  border: none;
}

.btn-accent:hover {
  background-color: #a80000;
}
