alembic
aniso8601
bcrypt
blinker
cachelib
click
Flask
Flask-Bcrypt
flask-cors
Flask-JWT-Extended
Flask-Migrate
Flask-RESTful
Flask-Session
Flask-SQLAlchemy
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
msgspec
packaging
psycopg2-binary
PyJWT
python-dotenv
pytz
redis
setuptools
six
SQLAlchemy
sqlalchemy-serializer
typing_extensions
Werkzeug
